name: User Service CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.22"

    - name: Build User Service
      working-directory: ./User_Service
      run: go build ./...

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Docker Image
      working-directory: ./User_Service
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/user_service:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/user_service:latest
